<div class="py-16 xl:py-36 px-4 sm:px-6 lg:px-8 bg-white overflow-hidden">
    <div class="max-w-max lg:max-w-7xl mx-auto">
        <h2 class="{% include 'symbols/h2.class' %} text-center">Zur Unterstützung unseres Teams suchen wir im Bereich</h2>
        <div class="grid grid-cols-4 mt-16">
            {% for category in staff_categories %}
                <img class="w-32 mx-auto" src="{{ category.image.url }}" alt="{{ category.name }} Icon">
            {% endfor %}
        </div>
    </div>
</div>