{% extends 'base.html' %}


{% block main %}
    {% include 'symbols/header.html' with title=page.header_title image='img/shake-hand-opt.jpeg' %}

    {% include 'symbols/text.html' with title=page.text_title sub=page.text_sub text=page.text_text button=page.text_button href='frontend:index' %}

    {% include 'staffing_solutions/categories.html' %}

    {% include 'staffing_solutions/search.html' %}

    {% include 'symbols/quote.html' with quote=page.quote_text author=page.quote_author %}
{% endblock %}
