# base
wheel==0.37.1
# django
Django==4.1.1
# debug toolbar
django-debug-toolbar==3.6.0
# image
Pillow==9.2.0
# crispy forms
django-crispy-forms==1.14.0
# translation
django-modeltranslation==0.18.4
# rich text editor
django-tinymce==3.5.0
# singleton models
django-solo==2.0.0
# country widget
django-countries==7.3.2
