{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block main %}

    {% include 'initiative_application/header.html' with title=page.header_title text=page.header_text image='img/apply-now-opt.png' %}

    <section class="bg-gray-200 py-24">
        <div class="mx-auto max-w-4xl mx-auto py-5 px-5 bg-gray-100">
            <div class="">
                {% crispy form %}
            </div>
        </div>
    </section>

    {% include 'symbols/quote.html' with quote=page.quote_text author=page.quote_author %}

{% endblock %}
