{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block main %}

    {% include 'symbols/header.html' with title='Initiativbewerbung' image='img/placeholder-image.png' %}

    <section class="bg-gray-200 py-24">
        <div class="mx-auto max-w-4xl mx-auto py-5 px-5 bg-gray-100">
            <div class="">
                {% crispy form %}
            </div>
        </div>

        <script>
            document.querySelector('#id_looking_for').value =
        </script>

    </section>

{% endblock %}
