<header class="lg:relative bg-gray-800">
    <div class="relative z-10 mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-64 lg:text-left">
        <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
            <h1 class="text-4xl tracking-tight font-extrabold text-gray-100 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
                <span class="block xl:inline">Schnell und unkompliziert zum</span>
                <!-- space -->
                <span class="block text-gray-300 xl:inline">Traum-Saisonjob</span>
            </h1>
            <p class="mt-3 max-w-md mx-auto text-lg text-gray-300 sm:text-xl md:mt-5 md:max-w-3xl">
                Wir helfen allen Personen, die auf der Suche nach einem Job in der Gastronomie in Österreich sind,
                schnell und unkompliziert, die passende Stelle zu finden.
            </p>
            <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
                <div class="rounded-md shadow">
                    <a href="#"
                       class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-gray-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
                        Zur Initiativbewerbung

                    </a>
                </div>
                <div class="rounded-md shadow mt-3 sm:mt-0 sm:ml-3">
                    <a href="#"
                       class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 md:py-4 md:text-lg md:px-10">
                        Zum Bewerberportal
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:z-0">
        <img class="absolute inset-0 w-full h-full object-cover brightness-50"
             src="https://images.unsplash.com/photo-1520333789090-1afc82db536a?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2102&amp;q=80"
             alt="">
    </div>
</header>