{% extends "base.html" %}

{% block navigation %}
    {% include 'symbols/navigation.html' with fixed=1 %}
{% endblock %}

{% block main %}

    {% include 'index/header.html' %}

{#    {% include 'index/section1.html' %}#}

    {% include 'index/section2.html' %}

    {% include 'index/portal.html' %}

    {% include 'symbols/quote.html' with quote=page.quote_text author=page.quote_author %}

{#    <section>#}
{#        atrium staff featured jobs <br>#}
{#        <a href="{% url 'frontend:portal' %}">zum portal</a>#}
{#    </section>#}

    {#{% include 'index/value.html' %}#}

    {#{% include 'index/about.html' %}#}

    {#{% include 'index/plan.html' %}#}

{% endblock %}
