{% if reviews %}
    <section class="relative bg-gray-50 pt-16 pb-20 lg:pt-24 lg:pb-22">
        <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="text-center">
                <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
                    {{ page.reviews_title }}
                </h2>
                <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
                    {{ page.reviews_text }}
                </p>
            </div>
            <div class="relative mt-12 max-w-lg mx-auto h-96 md:h-64" x-data="reviews">
                {% for review in reviews %}
                    <div class="absolute mx-auto inset-0 flex items-center justify-center border rounded">
                        <blockquote
                                x-transition:enter="transition duration-1000 transform"
                                x-transition:enter-start="opacity-0 translate-x-full"
                                x-transition:enter-end="opacity-100 translate-x-0"
                                x-transition:leave="transition duration-1000 transform absolute"
                                x-transition:leave-start="opacity-100 translate-x-0"
                                x-transition:leave-end="opacity-0 -translate-x-full"
                                x-show="activeSlide === {{ forloop.counter0 }}"
                                class="z-10">
                            {% include 'index/review.html' %}
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script>
            document.addEventListener('alpine:init', () => {
                Alpine.data('reviews', () => ({
                    numberOfSlides: {{ reviews.count }},
                    activeSlide: 0,
                    init() {
                        setInterval(() => this.next(), 5000);
                    },
                    next() {
                        this.activeSlide = this.activeSlide + 1;
                        if (this.activeSlide === this.numberOfSlides) {
                            this.activeSlide = 0;
                        }
                    }
                }))
            });
        </script>
    </section>
{% endif %}
