<section class="bg-gray-50">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto divide-y-2 divide-gray-200">
            <dl class="mt-6 space-y-6 divide-y divide-gray-200">
                {% include 'symbols/faq_item.html' with question=page.faq_question_1 answer=page.faq_answer_1 %}
                {% include 'symbols/faq_item.html' with question=page.faq_question_2 answer=page.faq_answer_2 %}
                {% include 'symbols/faq_item.html' with question=page.faq_question_3 answer=page.faq_answer_3 %}
                {% include 'symbols/faq_item.html' with question=page.faq_question_4 answer=page.faq_answer_4 %}
                {% include 'symbols/faq_item.html' with question=page.faq_question_5 answer=page.faq_answer_5 %}
                {% include 'symbols/faq_item.html' with question=page.faq_question_6 answer=page.faq_answer_6 %}
            </dl>
        </div>
    </div>
</section>