@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Copperplate;
    src: /*local('Copperplate'),*/ /*local('Copperplate Gothic'),*/ /*local('Copperplate Gothic Bold'),*/ url("/static/fonts/CopperplateGothicBold.ttf");
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: Copperplate, system-ui, sans-serif;
        font-weight: bold;
    }

    html {
        font-family: Roboto, system-ui, sans-serif;
    }
}

/* alpine */
[x-cloak] {
    display: none !important;
}

/* form */
.djangoform h2 {
    @apply font-bold text-2xl;
}

.djangoform .row {
    @apply flex flex-col space-y-5 md:flex-row md:space-x-3 md:space-y-0;
}

.djangoform > div {
    @apply mt-5;
}

.djangoform .row > * {
    @apply w-full;
}

.djangoform .form-actions {
    @apply pt-5;
}

.djangoform {
    /*@apply space-y-5;*/
}

.djangoform p {
    @apply mb-5 xl:mb-8;
}

.djangoform label {
    @apply block mb-1;
}

.djangoform input:not([type='checkbox']), .djangoform select, .djangoform textarea {
    @apply w-full py-2 border border-gray-300 px-4 rounded-sm bg-white ring-offset-0;
    @apply focus:ring-2 focus:ring-gray-300 focus:border-gray-300 focus-within:outline-none;
    /*@apply bg-white px-4 box-border transition w-full border-gray-200 text-gray-700 block outline-none py-2 border-[6px] border-solid text-lg leading-relaxed;*/
    /*@apply hover:border-gray-400;*/
}

.djangoform input[type='datetime-local'] {
    @apply h-[42px];
}

.djangoform input[type='submit'] {
    @apply cursor-pointer text-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700;
}

.djangoform input[type='checkbox'] {
    @apply w-6 h-6 mr-2 flex-shrink-0;
    cursor: pointer;
}

.djangoform .help-inline, .djangoform .help-inline strong {
    @apply text-red-700 font-normal;
}

.djangoform .controls label {
    @apply flex space-x-4 max-w-lg;
}

.djangoform select {
    @apply appearance-none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-position-x: right 0.5rem;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}


.djangoform .asteriskField {
    display: none;
}

.djangoform textarea {

}

.djangoform .helptext {

}

.djangoform .errorlist {
    @apply -mt-4 mb-5 pl-4 lg:-mt-7;
}

.djangoform .errorlist li {
    @apply text-red-600;
}

.djangoform .errorlist li::before {
    content: '';
}

/*.djangoform .photo-input {*/
/*    width: 0.1px;*/
/*	height: 0.1px;*/
/*	opacity: 0;*/
/*	overflow: hidden;*/
/*	position: absolute;*/
/*	z-index: -1;*/
/*}*/

/*.photo-input + label {*/
/*    font-size: 1.25em;*/
/*    font-weight: 700;*/
/*    color: white;*/
/*    background-color: black;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*}*/

/*.photo-input:focus + label,*/
/*.photo-input + label:hover {*/
/*    background-color: red;*/
/*}*/