{% load i18n %}

<nav class="relative w-full xl:top-0 xl:z-40" x-data="Components.popover({ open: false, focus: false })"
     :class="[{{ fixed|default:0 }} ? 'xl:fixed' : 'bg-gray-800 xl:sticky']"
     x-init="init()"
     @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup">
    <div class="relative z-20">
        <div class="max-w-7xl mx-auto flex justify-between items-center px-4 py-5 sm:px-6 sm:py-4 xl:px-8 xl:justify-start xl:space-x-10">
            <div>
                <a href="{% url 'frontend:index' %}" class="flex">
                    <span class="sr-only">JobifyRecruitment</span>
                    {% include 'symbols/logo.html' with class='h-10 w-auto sm:h-12 invert' %}
                </a>
            </div>
            <div class="-mr-2 -my-2 xl:hidden">
                <button type="button"
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500"
                        @click="toggle" @mousedown="if (open) $event.preventDefault()" aria-expanded="false"
                        :aria-expanded="open.toString()">
                    <span class="sr-only">Open menu</span>
                    <svg class="h-6 w-6" x-description="Heroicon name: outline/menu"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
            <div class="hidden xl:flex-1 xl:flex xl:items-center xl:justify-between">
                <div class="flex space-x-10" x-data="Components.popoverGroup()" x-init="init()">
                    {% include 'symbols/navigation/job_seeker.html' %}
                    {% include 'symbols/navigation/employer.html' %}
                    <a href="{% url 'frontend:about' %}"
                       class="text-base font-medium text-gray-200 hover:text-gray-100">
                        {{ navigation.about }}
                    </a>
                    <a href="{% url 'frontend:contact' %}"
                       class="text-base font-medium text-gray-200 hover:text-gray-100">
                        {{ navigation.contact }}
                    </a>
                </div>
                <div class="flex items-center xl:ml-12 space-x-1">
                    {% language 'de' %}
                        <a href="{% url 'frontend:index' %}"
                           class="block text-base font-medium text-gray-200 hover:text-gray-100">
                            DE
                        </a>
                    {% endlanguage %}
                    <div class="text-gray-200">/</div>
                    {% language 'en' %}
                        <a href="{% url 'frontend:index' %}"
                           class="block text-base font-medium text-gray-200 hover:text-gray-100">
                            EN
                        </a>
                    {% endlanguage %}
                </div>
            </div>
        </div>
    </div>


    <div x-show="open" x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95"
         x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in"
         x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95"
         x-description="Mobile menu, show/hide based on mobile menu state."
         class="absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top-right xl:hidden" x-ref="panel"
         @click.away="open = false" style="display: none;">
        <div class="bg-white rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
            <div class="pt-5 px-5">
                <div class="flex items-center justify-between">
                    <div>
                        {% include 'symbols/logo.html' with class='w-32 h-auto' %}
                    </div>
                    <div class="-mr-2">
                        <button type="button"
                                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500"
                                @click="toggle">
                            <span class="sr-only">Close menu</span>
                            <svg class="h-6 w-6" x-description="Heroicon name: outline/x"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                </div>

            </div>
            <div class="py-6 px-5 divide-y-2 divide-gray-50">
                <div class="grid grid-cols-2 gap-4">
                    <a href="{% url 'frontend:staffing_solutions' %}"
                       class="rounded-md text-base font-medium text-gray-900 hover:text-gray-700">
                        Staffing Solutions
                    </a>
                    <a href="{% url 'frontend:applicants_how_it_works' %}"
                       class="rounded-md text-base font-medium text-gray-900 hover:text-gray-700">
                        Für Bewerber
                    </a>
                    <a href="{% url 'frontend:portal' %}"
                       class="rounded-md text-base font-medium text-gray-900 hover:text-gray-700">
                        Bewerberportal
                    </a>
                    <a href="{% url 'frontend:initiative_application' %}"
                       class="rounded-md text-base font-medium text-gray-900 hover:text-gray-700">
                        Initiativbewerbung
                    </a>
                    <a href="{% url 'frontend:contact' %}"
                       class="rounded-md text-base font-medium text-gray-900 hover:text-gray-700">
                        Kontakt
                    </a>
                </div>
                <div class="mt-6">
                    <div class="mt-6 flex items-center justify-end space-x-2 text-base font-medium text-gray-500">
                        {% language 'de' %}
                            <a href="{% url 'frontend:index' %}" class="text-indigo-600 hover:text-indigo-500">
                                DE
                            </a>
                        {% endlanguage %}
                        <div>/</div>
                        {% language 'en' %}
                            <a href="{% url 'frontend:index' %}" class="text-indigo-600 hover:text-indigo-500">
                                EN
                            </a>
                        {% endlanguage %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
