{% load static %}

<div class="bg-yellow-500 py-3">
    <div class="{% include 'symbols/container.class' %}">
        <div class="w-full flex flex-col items-center justify-between md:flex-row">
            <blockquote class="w-full pt-8 sm:pb-8 lg:py-5 xl:py-0">
                <div class="relative flex justify-center">
                    <div class="relative">
{#                        <div class="absolute top-0 left-2 -translate-x-1/2 -translate-y-full md:left-0">#}
{#                            <svg class="h-8 w-8 text-gray-900 opacity-90" fill="currentColor" viewBox="0 0 32 32"#}
{#                                 aria-hidden="true">#}
{#                                <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"></path>#}
{#                            </svg>#}
{#                        </div>#}
                        <p class="block text-center text-3xl font-serif font-light uppercase font-extrabold {% if page.quote_size == 'NORMAL' %}sm:text-4xl{% elif page.quote_size == 'LARGE' %}sm:text-5xl{% endif %}">
                            {{ quote|linebreaksbr }}
                        </p>
                    </div>
                </div>
                {% if author %}
                    <footer class="mt-2 text-center">
                        <p class="text-base font-medium">{{ author }}</p>
                    </footer>
                {% endif %}
            </blockquote>
            <div class="flex flex-col items-center max-w-[50%] mt-5 md:max-w-none md:mt-0">
                <img class="max-w-md w-full h-auto md:h-8 lg:h-16 lg:w-auto" src="{% static 'img/logo.png' %}"
                     alt="Bild das ein Puzzle Teil darstellt.">
                <img class="max-w-md mt-2 w-full h-auto md:h-32 lg:h-44 lg:w-auto" src="{% static 'icon/quote.png' %}"
                     alt="Bild das ein Puzzle Teil darstellt.">
            </div>
        </div>
    </div>
</div>
