{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block main %}
    {% include 'symbols/header.html' with title=page.header_title image='img/hands-opt.jpeg' %}

    {% include 'symbols/text/index.html' with title=page.text_title sub=page.text_sub text=page.text_text button=page.text_button params='#form' %}

     <section class="bg-gray-200 py-24" id="form">
        <div class="mx-auto max-w-4xl mx-auto py-5 px-5 bg-gray-100">
            <div class="">
                {% crispy form %}
            </div>
        </div>
    </section>

    {% include 'submit_a_referral/faq.html' %}

    {% include 'symbols/quote.html' with quote=page.quote_text author=page.quote_author %}

{% endblock %}
