<html>
<head>
    <title>Vielen Dank</title>
</head>
<body>
<p>
    Sehr geehrte Damen und Herren,
</p>
<p>
    Vielen Dank für Ihre Anfrage und das damit verbundene Interesse an unserem Service.
</p>
<p>
    Unser Ziel ist es, dass Sie das Personal finden, das zu Ihnen passt!
    Wir helfen Ihnen, genau die Mitarbeiter zu finden, die Ihr Unternehmen am besten unterstützen und kümmern uns um
    etwaige Visa Angelegenheiten, eine Arbeitserlaubnis von bis zu 12 Monaten bis hin zur Anreise Ihres neuen
    Mitarbeiters.
    Somit werden alle Ihre Anliegen aus einer Hand betreut, egal um welche Gastronomie Sparte es sich handelt.
</p>
<p>
    Ein Mitarbeiter unseres Customer Service wird sich mit Ihnen binnen 24 Stunden telefonisch in Verbindung setzen.
</p>
</body>
</html>
