<html>
<head>
    <title>Thank You</title>
<body>
<p>
    Dear Applicant,
</p>
<p>
    Thank you for registering with JOBIFY RECRUITMENT.
</p>
<p>
    We will do our Best to find the perfect Job matching your Resume.
    This service is totally free of charge for you.
    As soon as we find a suiting Job offer, we will contact you via mail or give you a call.
    As a next step we will arrange a Skype / Zoom Call with your future Employer to Interview you directly, or we will
    record a Video Resume with you.
</p>
<p>
    Please keep in mind that all our Job-offers are in a German speaking Region of Europe, so We suggest
    you strongly to learn some Basic German Language, so it will be much easier for you.
    Please also check out our offered Job-Coaching, Language training and Visa-Service on our Website.
</p>
<p>
    Best Regards, <br>
    Your JOBIFY Recruiters
</p>
</body>
</html>
