<section class="bg-white">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12">
            {% for category in member_categories %}
                <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
                    <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">{{ category.title }}</h2>
                </div>
                <ul role="list"
                    class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">

                    {% for member in category.members.all %}
                        <li>
                            <div class="space-y-4">
                                <div class="w-32 h-auto">
                                    <div class="">
                                        <img class="object-cover shadow-lg rounded-lg"
                                             src="{{ member.image.url }}"
                                             alt="">
                                    </div>
                                </div>

                                <div class="space-y-2">
                                    <div class="text-lg leading-6 font-medium space-y-1">
                                        <h3 class="w-40">{{ member.name }}</h3>
                                        <p class="text-gray-600 font-normal">{{ member.role }}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            {% endfor %}
        </div>
    </div>
</section>