<!DOCTYPE html>
<html lang="de">
<head>
    {% include 'symbols/head.html' %}
</head>
<body>
{% block navigation %}
    {% include 'symbols/navigation/navigation.html' %}
{% endblock %}
{% block main %}
    <section x-data="{ number: Math.random() }" class="text-center py-10 px-5">
        <article x-cloak class="prose mx-auto">
            <h1>JobifyRecruitment</h1>
            <p x-text="number"></p>
        </article>
    </section>
{% endblock %}
{% block footer %}
    {% include 'symbols/footer.html' %}
{% endblock %}
{% block scripts %}
    {% include 'symbols/scripts.html' %}
{% endblock %}
</body>
</html>