<section class="pb-16 pt-8">
    <div class="">
        <div class="max-w-4xl mx-auto">
            <div class="{% include 'symbols/wrapper.class' %}">
                <h2 class="font-bold text-gray-700 text-xl text-center">{{ page.advantages_title }}</h2>
                <ul class="space-y-6 mt-10">
                    {% include 'video_resume/advantage_item.html' with image='/icon/personal-impression.png' title=page.advantages_title_1 text=page.advantages_text_1 %}
                    {% include 'video_resume/advantage_item.html' with image='/icon/brand.png' title=page.advantages_title_2 text=page.advantages_text_2 %}
                    {% include 'video_resume/advantage_item.html' with image='/icon/save-time-and-money.png' title=page.advantages_title_3 text=page.advantages_text_3 %}
                    {% include 'video_resume/advantage_item.html' with image='/icon/share-with-colleagues.png' title=page.advantages_title_4 text=page.advantages_text_4 %}
                    {% include 'video_resume/advantage_item.html' with image='/icon/ensure-data-privacy.png' title=page.advantages_title_5 text=page.advantages_text_5 %}
                </ul>
            </div>
        </div>
    </div>
</section>