<section class="bg-blue-100">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="">
            <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-3 md:gap-x-8 md:gap-y-12">
                <div>
                    <dt class="text-lg leading-6 font-medium text-blue-900">
                        <h2 class="text-2xl font-extrabold text-blue-900 text-left">
                            {{ page.benefits_left_title }}
                        </h2>
                    </dt>
                    <dd class="mt-2 text-base text-blue-900">
                        {{ page.benefits_left_text|linebreaksbr }}
                    </dd>
                </div>
                <div>
                    <dt class="text-lg leading-6 font-medium text-blue-900">
                        <h2 class="text-2xl font-extrabold text-blue-900 text-left">
                            {{ page.benefits_center_title }}
                        </h2>
                    </dt>
                    <dd class="mt-2 text-base text-blue-900">
                        {{ page.benefits_center_text|linebreaksbr }}
                    </dd>
                </div>
                <div>
                    <dt class="text-lg leading-6 font-medium text-blue-900">
                        <h2 class="text-2xl font-extrabold text-blue-900 text-left">
                            {{ page.benefits_right_title }}
                        </h2>
                    </dt>
                    <dd class="mt-2 text-base text-blue-900">
                        {{ page.benefits_right_text|linebreaksbr }}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</section>