{% extends 'base.html' %}


{% block main %}
    {% include 'symbols/header.html' with title=page.header_title image='img/video-opt.png' %}

    {% include 'symbols/text.html' with title=page.text_title sub=page.text_sub text=page.text_text button=page.text_button href='frontend:index' %}

    {% include 'video_resume/benefits.html' %}

    {% include 'video_resume/video.html' %}

    {% include 'video_resume/faq.html' %}

    {% include 'symbols/quote.html' with quote=page.quote_text author=page.quote_author %}
{% endblock %}
